<div>
  <uofx-form-field-name [name]="name" [required]="required">
  </uofx-form-field-name>
</div>
<div class="fw-control">

  <table width="100%" [formGroup]="form">
    <tr>
      <th style="text-align: center" colspan="4">公司資料</th>
    </tr>
    <tr>
      <Th>
        <span>公司名稱</span>
      </Th>
      <td colspan="3">
        <p *ngIf="editable">

        </p>
        <ejs-textbox *ngIf="editable" formControlName="companyName"></ejs-textbox>
        <span *ngIf="!editable">{{ value.companyName }}</span>
      </td>
    </tr>
    <tr>
      <th>
        <span>地址</span>
      </th>
      <td>
        <ejs-textbox *ngIf="editable" formControlName="address"></ejs-textbox>
        <span *ngIf="!editable">{{ value.address }}</span>
      </td>
      <th>
        <span>電話</span>
      </th>
      <td>
        <ejs-textbox *ngIf="editable" formControlName="phone"></ejs-textbox>
        <span *ngIf="!editable">{{ value.phone }}</span>
      </td>
    </tr>

  </table>

</div>


